$main-font:                   Roboto, sans-serif;
$secondary-font:              Raleway, sans-serif;
$primary-background-color:    #00121d;

body {
  margin: 0 !important;
  font-family: $main-font !important;
  font-weight: 300 !important;
  background-color: $primary-background-color !important;
  color: #fff !important;
}

.menu-bar-template {
  position: fixed !important;
  background-color: #1c1f25 !important;

  h1 {
    font-weight: 100 !important;
    font-size: 25pt !important;
  }

  .icon-button {
    padding: 0 !important;
    background-color: #aa232a !important;
    border-radius: 100px !important;
    :hover { cursor: pointer; }
  }
}

#landing {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/landing.jpg);
  background-size: cover;

  .top-menu-bar {
    @extend .menu-bar-template;
    top: 0px !important;
  }

  .bottom-menu-bar {
    @extend .menu-bar-template;
    bottom: 0px !important;
  }

  .header {
    padding-top: 150px;
    font-size: 34pt;
    text-align: center !important;

    .emphasis {
      color: #aa232a !important;
    }
  }
}
